header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #2fb1e5;
    
    .container {
        width: 1600px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        color: #fff;
        font-size: 24px;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        display: inline-block;
    }

    nav ul li a {
        color: #fff;
        text-decoration: none;
    }
}
