@import url(../general/reset.css);
@import url(../general/general.css);
@import url(../components/header.css);

.contact_page {
    /* background-color: rgba(112, 128, 144, 0.329); */
    height: calc(100dvh - 68px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .contacts {
        display: flex;
        gap: 20px;
        margin: auto;
    }

    .socialLink {
        display: flex;
        align-items: center;
        gap: 5px;
        text-decoration: none;
        color: inherit;
        font-size: 2rem;
        font-weight: bold;

        img {
            width: 40px;
            aspect-ratio: 1 / 1;
        }
    }

    iframe {
        height: 70dvh; 
        width: 100%;
    }
}